<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Burger store</title>
        <meta charset="utf-8"/>

        <script src="https://vuejs.org/js/vue.js" defer></script>
        <script src="js/vue_script.js" defer></script>
        <script src="js/js_script.js" defer></script>

        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>

    <body>
        <header id="headdesign">
            <img id="topimage" src="img/topimage2.jpg">
            <h1 id="headline">Welcome to BurgerOnline</h1>

        </header>

        <main>


        <section id="burgermenu">
            <h1>Select your burger</h1>
            <p>This is where you make your burger selection</p>

            <div class="table">
                <div class="menu a">
                    <h2>Tower burger</h2>
                </div>

                <div class="menu b">
                    <h2>Kevin Bacon</h2>
                </div>

                <div class="menu c">
                    <h2>Hollywood burger</h2>
                </div>

                <div class="menu d">
                    <img src="img/hamburger1.jpg" width="300" alt="Var dyker detta upp?" title="Mmmmmums">
                </div>

                <div class="menu e">
                    <img src="img/hamburger2.jpg" width="330" title="Bacon?">
                </div>

                <div class="menu f">
                    <img src="img/hamburger3.jpg" width="360" title="Dry but good lighting">
                </div>

                <div class="menu g">
                    <ul>
                        <li>Our tallest burger on the menu</li>
                        <li>Store bought bread
                            <span class="intolerance">(contains gluten)</span>
                        </li>
                        <li>Best cheece in Svealand
                            <span class="intolerance">(contains lactose)</span>
                        </li>
                        <li>Served best warm</li>
                    </ul>
                </div>

                <div class="menu h">
                    <ul>
                        <li>Local beef with crispy bacon</li>
                        <li>Fresh gluten free bread</li>
                        <li>Dripping creamy cheece
                            <span class="intolerance">(contains lactose)</span>
                        </li>
                        <li>Best name on the menu</li>
                    </ul>
                </div>

                <div class="menu i">
                    <ul>
                        <li>Our most fotogenic burger</li>
                        <li>Huge and tasty beef </li>
                        <li>Salad</li>
                        <li>Almost veggie
                            <span class="intolerance">(contains gluten)</span>
                        </li>
                    </ul>
                </div>

            </div>
           <!-- <table>
                <thead>     &lt;!&ndash;Namnen på hamburgarna &ndash;&gt;
                    <tr>
                        <th>
                            <h2>Tower burger</h2>
                        </th>
                        <th>
                            <h2>Kevin Bacon</h2>
                        </th>
                        <th>
                            <h2>Hollywood burger</h2>
                        </th>
                    </tr>
                </thead>

                <tbody align="center">     &lt;!&ndash; Bilderna på hamburgarna &ndash;&gt;
                    <tr>
                        <td >
                            <img src="img/hamburger1.jpg" width="300" alt="Var dyker detta upp?" title="Mmmmmums">
                        </td>
                        <td>
                            <img src="img/hamburger2.jpg" width="330" title="Bacon?">
                        </td>
                        <td>
                            <img src="img/hamburger3.jpg" width="340" title="Dry but good lighting">
                        </td>
                    </tr>
                </tbody>

                <tfoot>     &lt;!&ndash; Ingredienserna på hamburgarna &ndash;&gt;
                    <tr>
                        <td>
                            <ul>
                                <li>Our tallest burger on the menu</li>
                                <li>Store bought bread
                                    <span class="intolerance">(contains gluten)</span>
                                </li>
                                <li>Best cheece in Svealand
                                    <span class="intolerance">(contains lactose)</span>
                                </li>
                                <li>Served best warm</li>
                            </ul>
                        </td>
                        <td>
                            <ul>
                                <li>Local beef with crispy bacon</li>
                                <li>Fresh gluten free bread</li>
                                <li>Dripping creamy cheece
                                    <span class="intolerance">(contains lactose)</span>
                                </li>
                                <li>Best name on the menu</li>
                            </ul>
                        </td>
                        <td>
                            <ul>
                                <li>Our most fotogenic burger</li>
                                <li>Huge and tasty beef </li>
                                <li>Salad</li>
                                <li>Almost veggie
                                    <span class="intolerance">(contains gluten)</span>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </tfoot>
            </table>-->
        </section>
                        <!-- Här skriver man in sin kontaktinformation -->
        <section id="contact">   <!-- fråga om detta! -->
            <h1>Customer information</h1>
            <p>This is where you provide necessary information</p>

            <form>      <!-- Input rutor -->
                <fieldset>
                    <legend>
                        <p>
                            Delivery information:
                        </p>
                    </legend>
                    <p>
                        <label for="fullname">
                            Full name
                        </label>
                        <br>
                        <input type="text" id="fullname" name="fn" required="required" placeholder="First- and Last name">
                    </p>
                    <p>
                        <label for="email">E-mail</label><br>
                        <input type="email" id="email" name="em" required ="required" placeholder="E-mail address">
                    </p>
                    <p>
                        <label for="street">Street</label><br>
                        <input type="text" id="street" name="st" required="required" placeholder="Street name">
                    </p>
                    <p>
                        <label for="house">House</label><br>
                        <input type="text" id="house" name="ho" required="required" placeholder="House number">
                    </p>
                </fieldset>
                        <!-- Drop down list -->
                <p>
                    <label for="paymethod">Payment method</label><br>
                    <select id="paymethod" name="pay">
                        <option>Credit card</option>
                        <option>Mobile bankID</option>
                        <option>Paypal</option>
                        <option>Invoice</option>
                        <option>Cash</option>
                    </select>
                </p>
                        <!-- Radio buttons -->
                <p>
                    Select a gender<br>

                    <input id="male" type="radio" name="gender" value="male">
                    <label for="male">
                        Male
                    </label><br>
                    <input id="female" type="radio" name="gender" value="female">
                    <label for="female">
                        Female
                    </label><br>
                    <input id="other" type="radio" name="gender" value="other" checked>
                    <label for="other" type="radio">
                        Other
                    </label>
                </p>


            </form>

        </section>      <!-- Knappen -->

        <button type="submit"><img src="https://live.staticflickr.com/2124/5716178516_d22b847b3e_b.jpg"
        width="50"> Place your order</button>

        </main>
        <footer>
            <a href="http://www.google.com/">Klicka här om du är sugen på något helt annat</a>
        </footer>
    </body>
</html>
