<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Burger store</title>
        <meta charset="utf-8"/>
    </head>

    <body>

        <main>
            <h1>Welcome to BurgerOnline</h1>
        </main>

        <section>
            <h1>Select your burger</h1>
            <p>This is where you make your burger selection</p>
            <table>
                <thead>     <!--Namnen på hamburgarna -->
                    <tr>
                        <th><h2>Tower burger</h2></th>
                        <th><h2>Kevin Bacon</h2></th>
                        <th><h2>Hollywood burger</h2></th>
                    </tr>
                </thead>

                <tbody>     <!-- Bilderna på hamburgarna -->
                    <tr>
                        <td><img src="https://upload.wikimedia.org/wikipedia/commons/9/9a/Big_Mac_hamburger.jpg"
                        width="300" alt="Sunset in Uppsala" title="Mmmmmums"></td>
                        <td><img src="https://live.staticflickr.com/7018/6414080413_e56c2499c5_b.jpg"
                        width="300" title="Bacon?"></td>
                        <td><img src="http://res.freestockphotos.biz/pictures/17/17277-a-hamburger-on-a-plate-pv.jpg"
                        width="340" title="Dry but good lighting"></td>
                    </tr>
                </tbody>

                <tfoot>     <!-- Ingredienserna på hamburgarna -->
                    <tr>
                        <td><ul>
                            <li>Our tallest burger on the menu</li>
                            <li>Store bought bread (contains gluten)</li>
                            <li>Best cheece in middle Sweden (contains lactose)</li>
                            <li>Served best warm</li>
                        </ul></td>
                        <td><ul>
                            <li>Local beef with crispy bacon</li>
                            <li>Fresh gluten free bread</li>
                            <li>Dripping creamy cheece (contains lactose)</li>
                            <li>Best name on the menu</li>
                        </ul></td>
                        <td><ul>
                            <li>Our most fotogenic burger</li>
                            <li>Huge and tasty beef </li>
                            <li>Salad</li>
                            <li>Almost veggie (contains gluten)</li>
                        </ul></td>
                    </tr>
                </tfoot>
            </table>
        </section>

        <section>
            <h1>Customer information</h1>
            <p>This is where you provide necessary information</p>

        </section>

        <footer>
            <a href="http://www.google.com/">Klicka här om du är sugen på något helt annat</a>
        </footer>
    </body>
</html>